*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
*.apk
*.aab

build/
**/build/


# Signing secrets never go in git
*.jks
*.keystore
keystore.properties
